@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background-color: #FFCBE9;
  text-align: center;
}

h1, p, label, fieldset {
  color: #635CE9;
  font-family: 'Comic Neue', cursive, sans-serif, Arial, Helvetica;
}
fieldset {
  font-size: 18px;
  border: 3px solid yellow;
  border-style: dashed;
  border-image: linear-gradient(to right, yellow 33%, transparent 33%) 1;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1 {
  text-shadow: 2px 2px #D8659C;
  text-align: center;
}
legend {
  text-shadow: 2px 2px #D8659C;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #D4ABFE;
  border: 3px dashed #ff00ff;
  border-radius: 3px;
  padding: 20px;
  display: inline-block;
  margin: 50px auto 0 auto;
  width: 400px;
}
label {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
form section {
  display: flex;
  flex-direction: column;
}

.message {
  width: 180px;
  display: none;
  position: fixed;
  top: 30%;
  left: calc(50% - 110px);
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.rotate {
  animation: rotate 1s linear infinite;
}
.message.pending.active,
.message.success.active,
.message.failure.active {
  display: block;
}
#reset-btn {
  font-family: 'Tahoma', sans-serif;
  font-size: 14px;
  background-color: #C0C0C0;
  color: #000;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #808080 inset;
}
.subtitle {
  width: 900px;
  margin: 0 auto;
}
input,
textarea {
  display: block;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  margin: 10px auto;
  width: 80%;
  font-family: 'Tahoma', sans-serif;
  font-size: 14px;
  background-color: #C0C0C0;
  color: #000;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #808080 inset;
}
input[type="submit"] {
  background-color: #C0C0C0;
  color: #000000;
  border: 2px solid #808080;
  padding: 5px 10px;
  font-family: 'Tahoma', sans-serif;
  font-size: 12px;
  box-shadow: 1px 1px 0 #FFFFFF inset, -1px -1px 0 #808080 inset;
  cursor: pointer;
  width: 100px;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heart {
  display: inline-block;
  margin: 0 8px;
  font-size: 125%;;
}

.spin {
  animation: spin 2s linear infinite;
}

@media (max-width: 450px) {
  form {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .subtitle {
    width: 100%;
  }
}